[submodule "bundle/supertab"]
	path = bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "bundle/surround"]
	path = bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/gundo"]
	path = bundle/gundo
	url = http://github.com/sjl/gundo.vim.git
[submodule "bundle/tlib_vim"]
	path = bundle/tlib_vim
	url = https://github.com/tomtom/tlib_vim.git
[submodule "bundle/vim_addon_mw_utils"]
	path = bundle/vim_addon_mw_utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "bundle/nerdCommenter"]
	path = bundle/nerdCommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/vim-snipmate"]
	path = bundle/vim-snipmate
	url = git://github.com/garbas/vim-snipmate.git
[submodule "bundle/tlib_vim"]
	path = bundle/tlib_vim
	url = https://github.com/tomtom/tlib_vim.git
[submodule "bundle/vim_addon_mw_utils"]
	path = bundle/vim_addon_mw_utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "bundle/snipmate_snippets"]
	path = bundle/snipmate_snippets
	url = https://github.com/honza/snipmate-snippets.git
