[submodule "bundle/supertab"]
	path = bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "bundle/surround"]
	path = bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "/Users/sparragus/.vim/bundle/gundo"]
	path = /Users/sparragus/.vim/bundle/gundo
	url = http://github.com/sjl/gundo.vim.git
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = git://github.com/garbas/vim-snipmate.git
[submodule "bundle/tlib_vim"]
	path = bundle/tlib_vim
	url = https://github.com/tomtom/tlib_vim.git
[submodule "bundle/vim_addon_mw_utils"]
	path = bundle/vim_addon_mw_utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
