[submodule "supertab"]
	path = not_used_bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "surround"]
	path = bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "gundo"]
	path = bundle/gundo
	url = http://github.com/sjl/gundo.vim.git
[submodule "tlib_vim"]
	path = bundle/tlib_vim
	url = https://github.com/tomtom/tlib_vim.git
[submodule "vim_addon_mw_utils"]
	path = bundle/vim_addon_mw_utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "nerdCommenter"]
	path = bundle/nerdCommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "vim-snipmate"]
	path = bundle/vim-snipmate
	url = git://github.com/garbas/vim-snipmate.git
[submodule "snipmate_snippets"]
	path = bundle/snipmate_snippets
	url = https://github.com/honza/snipmate-snippets.git
[submodule "sparkup"]
	path = bundle/sparkup
	url = https://github.com/rstacruz/sparkup.git
